<div class="main-container">
    <div class="mainbox">
        <div class="row">

            <div class="err">4</div>
            <div class="far">
                <div class="rotate-center fix">
                    ?
                </div>
            </div>
            <div class="err2">4</div>
        </div>
        <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed?
            <p>Let's go <a routerLink="/">home</a> and try again.</p>
        </div>
    </div>
</div>