header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    animation: slideTop 1s ease-in-out;
    padding-top: 20px;
  
    a {
        color: white;
        margin-left: 50px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        transition: all 225ms ease;
        &:hover {
            color: #E6405D;
            border-bottom: 3px solid #E6405D;
        }
    }
    img{
        width: 160px;
        cursor: pointer;
    }
}
@keyframes slideTop {
    from{
        margin-top: -70px;
    } to{
        margin-top: 0px;

    }
}