footer {
    height: 100px;
    padding-top: 50px;
    width: 100vw;
    a {
        text-decoration: none;
        color: gray;
        transition: all 225ms ease-in-out;
        &:hover {
            color: black;
            text-decoration: 3px underline;
        }
    }
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
        margin-left: 50px;
        height: 50px;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: translateY(-10px) scale(1.1);
        }
    }
}

.darkmode {
    padding-left: 18%;
    padding-right: 20%;
    justify-content: space-between;
}

@media(max-width:1650px) {
    .darkmode {
        padding-left: 13%;
    }
}

@media(max-width:1550px) {
    .darkmode {
        padding-left: 11%;
        padding-right: 11%;
    }
}

@media(max-width:1350px) {
    .darkmode {
        padding-left: 4%;
        padding-right: 10%;
    }
}

@media (max-width:1075px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }
    .footer-container {
        flex-direction: column-reverse;
        padding-right: 40px;
    }
    .links {
        padding-left: 30px;
        padding-top: 10px;
    }
    .darkmode {
        padding-left: 0;
    }
}

@media (max-width:700px) {
    .footer-container {
        img {
            height: 40px;
        }
    }
}