<footer>
    <div class="footer-container">
        <div class="links">
            <a routerLink="/imprint">Impressum</a> - <a href="#">Legal Notice</a>
        </div>
        <div class="scoial-icons">
            <a href="https://www.linkedin.com/in/navjot-singh-364623233/"><img src="assets/icons/linkedin-box-fill.png"></a>
            <a href="https://github.com/navjotsingh96"><img src="assets/icons/github-fill.png"></a>
            <a href="https://www.xing.com/profile/Navjot_Singh48/cv"><img src="assets/icons/xing-fill.png"></a>

        </div>
    </div>
</footer>