footer {
    height: 100px;
    padding-top: 50px;
    width: 100vw;
    background-color: white;
    a {
        text-decoration: 3px transparent;
        color: rgb(78, 78, 78);
        transition: all 225ms ease-in-out;
        &:hover {
            color: black;
            transition: all 225ms ease-in-out;
            text-decoration: 3px underline;
        }
    }
}

.img-left {
    margin-left: 50px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        height: 50px;
        transition: all 225ms ease-in-out;
        border-radius: 100%;
        padding: 5px;
        &:hover {
            transform: translateY(-10px) scale(1.1);
            box-shadow: 0px 13px 11px 0px #000000b5;
        }
    }
}

@media (max-width:875px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
        height: 115px;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
    .links {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .darkmode {
        padding-left: 0;
    }
}

@media (max-width:700px) {
    .footer-container {
        img {
            height: 40px;
        }
    }
}