footer {
    height: 100px;
    padding-top: 50px;
    width: 100vw;
    a {
        text-decoration: none;
        color: gray;
        transition: all 225ms ease-in-out;
        &:hover {
            color: black;
            text-decoration: 3px underline;
        }
    }
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
        margin-left: 50px;
        height: 50px;
        transition: all 225ms ease-in-out;
        &:hover {
            transform: translateY(-10px) scale(1.1);
        }
    }
}

@media (max-width:1075px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0;
    }
    .footer-container {
        flex-direction: column-reverse;
        padding-right: 40px;
    }
    .links {
        padding-left: 30px;
        padding-top: 10px;
    }
}