<div data-aos-duration="1000" class="me-container">
    <div class="about">
        <div class="about-me-image">
            <img data-aos="zoom-in" data-aos-duration="1000" src="assets/img/_DSC7921Singh22.jpg" alt="">
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="details">
            <h2>About me</h2>
            <p>"I'm an outdoor sports enthusiast and front end developer who love pushing boundaries"
            </p>
        </div>
    </div>
</div>
<div class="me-container my-details">
    <div data-aos="fade-right" data-aos-duration="1000" class="icon">
        <img src="assets/icons/walk-line.png">
        <h3>My Journey Began</h3>
        <p>in Novermber 2021 I found the DeveloperAkademie in Munich and I was immediately convinced by their concept and that they would help me start a new career.</p>
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" class="icon">
        <img src="assets/icons/heart-line.png">
        <h3>A New Passion</h3>
        <p>after learning how to build websites, I discovered the powers of Javascript shortly after. The feeling of making a beautiful site come to life and to add all kinds of functions to it is something uniquely intriguing to me.</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" class="icon">
        <img src="assets/icons/search-line.png">
        <h3>Keep on Learning</h3>
        <p>Next year, I learned how to programme my own little jump and run game: "El Pollo Loco". Then I came to know the great possibilites of APIs, which I implemented in my Pokedex project.</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" class="icon">
        <img src="assets/icons/flight-takeoff-line.png">
        <h3>The Journey Continues</h3>
        <p>In the last few months I've started using Angular to build applications and websites like this one. This technology has proved to be very useful and I strive to learn more technologies as well as work on the ones I already know.</p>
    </div>
</div>