<div class="me-container">
    <div class="about">
        <div class="about-me-image">
            <img src="assets/img/_DSC7921Singh22.jpg" alt="">
        </div>
        <div class="details">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique sed quia cumque! Modi sit cumque aliquid perspiciatis architecto necessitatibus, explicabo unde officia quisquam deleniti culpa voluptates maiores adipisci quam veniam?</p>
        </div>
    </div>
</div>