<div data-aos-duration="1000" class="me-container">
    <div class="about">
        <div class="about-me-image">
            <img data-aos="zoom-in" data-aos-duration="1000" src="assets/img/_DSC7921Singh22.jpg" alt="">
        </div>
        <div data-aos="fade-left" data-aos-duration="1000" class="details">
            <h2>About me</h2>
            <p>"I'm a front end developer with engineering background who loves pushing boundaries."
            </p>
        </div>
    </div>
</div>
<div class="me-container my-details">
    <div data-aos="fade-right" data-aos-duration="1000" class="icon">
        <img src="assets/icons/walk-line.png">
        <h3>My Journey Began</h3>
        <p>in India with a Computer operator and programming assistant course. When I came to Germany I had to do an apprenticeship to become a restaurant expert.
        </p>
    </div>

    <div data-aos="fade-right" data-aos-duration="1000" class="icon">
        <img src="assets/icons/heart-line.png">
        <h3>A New Passion</h3>
        <p>was to become a front-end developer. I found the software development school Developer Akademie in munich to re- enter the IT world.</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" class="icon">
        <img src="assets/icons/search-line.png">
        <h3>Keep on Learning</h3>
        <p>in course, I learned how to programme my own Little jump and run game: <a class="link-animation" href="http://navjot-singh.developerakademie.net/el_pollo_loco/index.html" target="_blank">El Pollo Loco</a>. Then I came to know the great possibilites
            of APls, which I implemented in my <a class="link-animation" href="https://navjot-singh.developerakademie.net/Pokemon/index.html" target="_blank">Pokedex</a> and
            <a class="link-animation" href="https://navjot-singh.developerakademie.net/weather-app" target="_blank">Weatherapp</a> projects.</p>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000" class="icon">
        <img src="assets/icons/flight-takeoff-line.png">
        <h3>The Journey Continues</h3>
        <p>with learning and using Angular to build applications and websites like this one. This technology has proved to be very useful and I strive to learn more technologies as well as work on the ones I already know.</p>
    </div>
</div>