.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.data-container {
    width: 65%;
    h1,
    h2 {
        color: black;
    }
}

@media(max-width:1075px) {
    .data-container {
        width: 85%;
        padding-right: 0;
        padding-top: 100px;
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 25px;
        }
    }
}