.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.data-container {
    h1,
    h2 {
        color: black;
    }
}

@media(max-width:1075px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .data-container {
        padding-right: 0;
        padding-top: 100px;
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 25px;
        }
    }
}