.heading {
    width: 100vw;
    background-color: black;
    h2 {
        margin: 0;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 70px;
    }
}

.myWork-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    button {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        background-color: black;
        border: 2px solid #E6405D;
        color: white;
        font-size: 17px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #E6405D;
        }
        &:focus {
            background-color: #E6405D;
        }
    }
}

.project-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
}

.project-images {
    cursor: pointer;
    img {
        height: 300px;
        width: 400px;
        object-fit: cover;
        padding-bottom: 50px;
    }
}