<div class="heading">
    <h2>My Work</h2>
</div>
<div class="myWork-container">
    <div>
        <button>All</button>
    </div>
    <div>
        <button>Angular</button>

    </div>
    <div>
        <button>Javascript</button>
    </div>
</div>
<div class="project-container">
    <div class="projects">
        <div class="project-images">
            <img src="assets/img/pokomon.jpeg">
        </div>
        <div class="project-images">
            <img src="assets/img/el_pollo_loco.png">
        </div>
        <div class="project-images">
            <img src="assets/img/join.png">
        </div>
        <div class="project-images">
            <img src="assets/img/ringoffire.png">
        </div>
    </div>
</div>