.heading {
    width: 100vw;
    background-color: black;
    h2 {
        margin: 0;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 70px;
        width: 100vw;
    }
}

.myWork-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: black;
    button {
        width: 150px;
        height: 80px;
        margin-left: 10px;
        background-color: black;
        border: 2px solid #E6405D;
        color: white;
        font-size: 17px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #E6405D;
        }
        &:focus {
            background-color: #E6405D;
        }
    }
}

.project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    span {
        color: #E6405D;
        font-weight: 800;
    }
}

.project-images {
    transition: all 225ms ease-in-out;
    position: relative;
    cursor: pointer;
    height: 300px;
    width: 400px;
    margin-bottom: 50px;
    img {
        height: 300px;
        width: 400px;
        object-fit: cover;
    }
    &:hover {
        box-shadow: 0px 0px 12px 1px #E6405D;
    }
}

.project-details {
    color: white;
    height: 300px;
    width: 380px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(137, 137, 137, 0.49);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    transition: all 225ms ease-in-out;
    opacity: 1;
    a {
        color: white;
    }
}

.activated {
    background-color: #E6405D !important;
}

@media (max-width:1075px) {
    .heading {
        h2 {
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
    .myWork-container {
        margin-right: 10px;
        padding-bottom: 25px;
        button {
            width: 100px;
            height: 60px;
        }
    }
    .project-images {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        width: 300px;
        height: 250px;
        img {
            width: 300px;
            height: 250px;
        }
    }
    .project-details {
        width: 280px;
        height: 250px;
    }
}