<div data-aos="fade-up" class="heading">
    <h2>My Work</h2>
</div>
<div data-aos="zoom-out" data-aos-duration="500" class="myWork-container">
    <div>
        <button [class.activated]="all" (click)="allProlects()">All</button>
    </div>
    <div>
        <button (click)="angularProjects()">Angular</button>

    </div>
    <div>
        <button (click)="javaProjects()">Javascript</button>
    </div>
</div>
<div class="project-container">
    <div class="projects">

        <div data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java" class="project-images" (mouseenter)="pokemon()" (mouseleave)="pokemonNone()">
            <img src="assets/img/pokomon.jpeg">

            <div *ngIf="pokedox" class="project-details">
                <div><span>Pokedex</span></div>
                <p>API based library to check Pokemons from the famous Nintendo game.</p>
                <a href="http://navjot-singh.developerakademie.net/Pokemon/index.html" target="_blank">View</a>
            </div>
        </div>
        <div data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java" class="project-images" (mouseenter)="elPollo()" (mouseleave)="elPolloNone()">
            <img src="assets/img/el_pollo_loco.png">
            <div *ngIf="game" class="project-details">
                <div><span>El POLLO LOCO</span></div>
                <p>
                    A Jump and Run game based on objectoriented programming with JavaScript.</p>
                <a href="http://navjot-singh.developerakademie.net/el_pollo_loco/index.html" target="_blank">View</a>
            </div>
        </div>
        <div data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="java" class="project-images" (mouseenter)="joinapp()" (mouseleave)="joinNone()">
            <img src="assets/img/join.png">
            <div *ngIf="join" class="project-details">
                <div><span>JOIN</span></div>
                <p>Tasks management system based on Eisenhower s urgent-important-principle.</p>
                <a href="http://navjot-singh.developerakademie.net/Join-Project-Managment/index.html" target="_blank">View</a>
            </div>

        </div>
        <div data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="angular" class="project-images" (mouseenter)="ring()" (mouseleave)="ringNone()">
            <img src="assets/img/ringoffire.png">
            <div *ngIf="ringoffire" class="project-details">
                <div><span>Ring of Fire</span></div>
                <p>Angular-based web-app of the popular drinking game.</p>
                <a href="https://ring-of-fire-1083e.web.app/" target="_blank">View</a>
            </div>
        </div>
        <div data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="angular" class="project-images" (mouseenter)="mywebsite()" (mouseleave)="mywebsiteNone()">
            <img src="assets/img/my-website.png">
            <div *ngIf="website" class="project-details">
                <div><span>Portfolio</span></div>
                <p>Angular-based Webpage.</p>
                <a href="#top">Go to Top</a>
            </div>
        </div>

    </div>
</div>