<div class="contact">
    <div class="contact-heading">
        <h1>Contact me.</h1>
        <p>Get in touch via the from below, or emailing <a href=" mailto:navjot.singh.de">hello@navjot.com </a></p>
        <div class="contact-form">
            <form action="#">
                <div class="inputarea">
                    <div>
                        <label for="name ">Name</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter your Name">
                    </div>
                </div>

                <div class="inputarea">
                    <div>
                        <label for="email">Email Adress</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Enter your Email adress">
                    </div>
                </div>


                <div class="inputarea">
                    <div>
                        <label for="message">Message</label>
                    </div>
                    <div>
                        <textarea name="message " placeholder="Write your message"></textarea>

                    </div>
                </div>
                <div class="btn">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>