<div class="contact">
    <div class="contact-heading">
        <h1 data-aos="fade-left" data-aos-duration="1000"> Contact me.</h1>
        <p data-aos="fade-right" data-aos-duration="1000">Get in touch via the from below, or emailing <a href=" mailto:hello@navjot-singh.de">hello@navjot-singh.de </a></p>
        <div class="contact-form">
            <form action="https://navjot-singh.de/send_mail/send_mail.php" method="post">
                <div data-aos="fade-left" data-aos-duration="1000" class="inputarea">
                    <div>
                        <label for="name ">Name</label>
                    </div>
                    <div>
                        <input type="text" name="name" required placeholder="Enter your Name">

                    </div>
                </div>



                <div data-aos="fade-left" data-aos-duration="1000" class="inputarea">
                    <div>
                        <label for="email">Email Adress</label>
                    </div>
                    <div>
                        <input required type="email" name="email" placeholder="Enter your Email adress">
                    </div>
                </div>


                <div data-aos="fade-right" data-aos-duration="1000" class="inputarea">
                    <div>
                        <label for="message">Message</label>
                    </div>
                    <div>
                        <textarea required name="message" placeholder="Write your message"></textarea>

                    </div>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" class="btn">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>