.main-container {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px;

}

h1 {
    margin-top: 100px;
    animation: leftSlide 1s ease-in-out;
}
@keyframes leftSlide{
    from{
        opacity: 0;
        margin-left: -200px;
    }
    to{
margin-left: 0;
    }
}

.name {
    color: #E6405D;
}

.e-color {
    display: inline-block;;
    color: #7AF8D9;
   
    &:hover{
        transform: translateY(45px) rotate(180deg);
    }
}

.main-image {
    margin-top: 100px;
    height: 400px;
    width: 400px;
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 100%;
    transition: all 225ms ease;
    animation: rightSlide 1s ease-in-out;

    &:hover{
        transform: translateY(-20px);
    }
}
@keyframes rightSlide{
    from{
        opacity: 0;
        margin-right: -200px;
    }
    to{
margin-right: 0;
    }
}
.contact-btn{
        width: 300px;
        height: 70px;
        /* margin-top: 50px; */
        margin-left: 100px;
        background-color: black;
        color: #7AF8D9;
        border: 3px solid #7AF8D9;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        transition: all 225ms ease;
        &:hover {
            transform: translateY(-10px) translateX(-10px);
            /* background-color: #7AF8D9;
            color: white; */
            box-shadow: 9px 9px 4px 0px;
        }
}
.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 50px;
    img {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        border: 1px solid;
        padding: 15px;
        cursor: pointer;
        transition: all 105ms ease-in-out;
        &:hover {
            box-shadow: 0px 0px 14px 0px;
            transition: all 105ms ease-in-out;
        }
    }
}


.greeting { 
    
        text-decoration: none;
        color: #E6405D;
    
    span{
    transition: .2s linear;
}
&:hover{
    span{
        color: #E6405D;
        /* text-shadow: 0 0 10px rgb(177, 92, 92), 0 0 20px #fff, 0 0 40px #fff; */
    }
    margin-right: 20px;
    span:nth-child(1){
        margin-right: 20px;

    }
    span:nth-child(1):after {
        content: "";
    }
    span:nth-child(2) {
        margin-left: 10px;
    }
}
}
