<div class="main-container">
    <div class="greetin-container">
        <h1> Hi, <br> I'm
            <a class="greeting">
                <span>N</span>
                <span>a</span>
                <span>v</span>
                <span>j</span>
                <span>o</span>
                <span>t</span>
            </a>
            Singh<br>Front End Dev<span class="e-color">e</span>ploper
        </h1>
    </div>
    <img class="main-image" src="assets/img/_DSC7898Singh22.jpg">
</div>
<button class="contact-btn"> Contact me</button>

<div class="scroll-btn">
    <img src="assets/icons/arrow-down.png">
</div>