.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 110px);
}

.c2 .word {
    display: inline-block;
    /*  line-height: 1em; */
}

.bgr-clr {
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-top: 100px;
}

.tips {
    position: absolute;
    bottom: -40px;
    z-index: 5;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 25px;
    text-align: center;
}


/*Hover animation on Name*/

.greeting {
    color: #E6405D;
    letter-spacing: 5px;
    margin-left: 10px;
    margin-right: 10px;
    span {
        display: inline-block;
        user-select: none;
        line-height: .8;
    }
}


/*HOver on e letter*/

.e-color {
    span {
        display: inline-block;
        color: #7AF8D9;
        height: 60px;
    }
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.pulse-container {
    position: relative;
    height: 400px;
    width: 400px;
    max-width: 450px;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 225ms ease-in-out;
    &:hover {
        transform: scale(1.03);
        animation-play-state: paused !important;
    }
}

.blob {
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    transform: scale(1);
    position: relative;
    animation: pulse-black 2s infinite;
    &:hover {
        animation-play-state: paused !important;
    }
}

.white {
    background: black;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
    animation-delay: 2s;
    animation-play-state: running !important;
    &:hover {
        animation-play-state: paused !important;
    }
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.main-image {
    position: absolute;
    height: 400px;
    width: 400px;
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 100%;
    transition: all 225ms ease;
}

.contact-btn {
    margin-top: 50px;
    width: 300px;
    height: 70px;
    background-color: black;
    color: #7AF8D9;
    border: 3px solid #7AF8D9;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 225ms ease;
    &:hover {
        transform: translateY(-10px) translateX(-10px);
        box-shadow: 9px 9px 4px 0px;
    }
}

.animi {
    animation: myAnim 900ms ease 0s alternate-reverse both;
    animation-iteration-count: 5;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes myAnim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(50px);
    }
}

.scroll-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    /* background-color: black; */
    img {
        height: 25px;
        width: 25px;
        border-radius: 100%;
        //border: 1px solid white;
        padding: 15px;
        cursor: pointer;
        transition: all 105ms ease-in-out;
        z-index: 2;
        &:hover {
            box-shadow: 0px 0px 14px 0px white;
            transition: all 105ms ease-in-out;
            transform: translateY(10px);
        }
    }
}

.contact {
    display: flex;
}

@media(max-width:1366px) {
    h1 {
        font-size: 45px;
    }
    .main-image,
    .blob,
    .pulse-container {
        width: 350px;
        height: 350px;
    }
}

@media(max-width:1190px) {
    h1 {
        font-size: 38px;
    }
    .main-image,
    .blob,
    .pulse-container {
        width: 300px;
        height: 300px;
    }
}

@media(max-width:875px) {
    .main-container {
        flex-direction: column-reverse !important;
        padding-top: 110px !important;
        align-items: center !important;
        justify-content: center;
    }
    .e-color {
        height: 30px;
    }
    h1 {
        margin-top: 20px;
        font-size: 32px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .main-image,
    .blob,
    .pulse-container {
        width: 250px;
        height: 250px;
    }
    .contact-btn {
        margin-top: 0px;
        width: 320px;
    }
    .scroll-btn {
        display: none;
    }
    .contact {
        padding-bottom: 50px;
    }
    .bgr-clr {
        height: auto;
    }
    .btn-class {
        justify-content: center;
    }
}

@media(max-height:800px) {
    .main-container {
        padding-top: 45px;
        align-items: unset;
    }
}

@media(max-height:700px) {
    .scroll-btn {
        padding-bottom: 10px !important;
    }
}

@media(max-width:330px) {
    .e-color {
        margin-left: 0;
    }
}

@media(max-height:580px) {
    .main-container {
        height: fit-content !important;
    }
}