<div class="bgr-clr">
    <div class="main-container">
        <div data-aos="zoom-out" data-aos-duration="1200" class="greetin-container m-left">

            <h1 class="c2 c1 word"><span class="word">Hi, <br> I'm</span>
                <a class="greeting word">
                    <span class="el">N</span>
                    <span class="el">a</span>
                    <span class="el">v</span>
                    <span class="el">j</span>
                    <span class="el">o</span>
                    <span class="el">t</span>
                </a>
                <span class="word">Singh</span>
                <div class="flex-wrap">
                    <div style="margin-right: 8px;"><span class="word">Front End</span></div>
                    <div class="e-color c2 word"> Deveplop<span class="el">e</span>r
                    </div>
                </div>
            </h1>
            <div data-aos="fade-left" data-aos-duration="1200" class="contact btn-class">
                <a style="z-index: 5;" href="#contact"> <button class="contact-btn">Contact me</button></a>
            </div>
        </div>
        <div class="m-right pulse-container">
            <a href="assets/CV/Navjot-Singh-CV.pdf" download="Navjot-Singh-CV" matTooltip="Click on the image to download the resume" matTooltipClass="tool-tip" class="pulse-container" rel="noopener noreferrer">
                <div class="blob white">
                </div>
                <img data-aos="zoom-in" data-aos-duration="1200" class="main-image" src="assets/img/_DSC7898Singh22.jpg">
            </a>
        </div>
        <div data-aos="zoom-out" data-aos-duration="1200" class="scroll-btn animi">
            <a style="z-index: 1;" href="#skills"> <img src="assets/icons/arrow-down.png"></a>
        </div>
    </div>
</div>
<app-skills id="skills"></app-skills>

<div class="bgr-clr">
    <app-my-work id="my-work"></app-my-work>
</div>

<app-about-me id="about-me"></app-about-me>
<app-contact-me id="contact"></app-contact-me>