.container-imprint {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
    padding-left: 20%;
}

.imprint {
    width: 60%;
}

@media(max-width:1075px) {
    .container-imprint {
        padding-left: 25px;
    }
    .imprint {
        width: 85%;
        padding-right: 0;
        padding-top: 100px;
        h1 {
            font-size: 32px;
        }
    }
}