.imprint {
    background-color: black;
    height: 100vh;
    overflow-y: scroll;
    color: white;
    h1 {
        color: #E6405D;
    }
    a {
        text-decoration: none;
        transition: all 225ms ease-in-out;
        color: #7AF8D9;
        &:hover {
            color: #11f2ba;
            text-decoration: underline;
        }
    }
}

@media(max-width:875px) {
    .imprint {
        padding-top: 100px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
        h1 {
            font-size: 32px;
        }
    }
}