body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 64px;
    color: white;
}

h2 {
    font-size: 36px;
    color: white;
    margin: 0;
    text-align: center;
}

p {
    font-size: 18px;
}